
//
// VARIABLES
//

/*
$titleColor: #8AE234;
$secondTitleColor: #4E9A06;
$textColor: #D3D7CF;
$linksColor: #4183D6;
$linksColorHover: #58A9FF;
$bgColor: #000000;

$selectColor: #444;
*/


$titleColor: #00cc00;
$secondTitleColor: #00cc00;
$textColor: #00cc00;
$linksColor: #4183C4;
$linksColorHover: #58A9FF;
$bgColor: #000000;

$selectColor: #444;

$font: 'Courier', monospace;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
